/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.header {
	font-family: var(--accent-font);
	background-color: var(--bg-color);
	text-align: center;
	padding: var(--header-padding) 0;
	border: 2px solid #000;
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	gap:20px;
}

.header__logo {
	font-size: var(--title-size);
}

.header__title {
	text-transform: uppercase;
	font-size: var(--header-text-size);
}


.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: var(--regular-font);
	font-variation-settings: 'wght' var(--card-text-weight);
	color: var(--accent-color);
	background-size: cover;
	background-attachment: fixed;
	background-image: var(--page-bg-image);
	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.element {
	max-width: var(--container-width);
	width: 100%;
}


.main__card {
	border: 1px solid black;
	background-color: var(--bg-color);
}

.main__card:not(:first-child) {
	margin-block-start: 50px;
}

.card__title {
	padding: 5px 10px;
	border: 1px solid black;
	text-wrap: balance;
	font-size: var(--text-size);
	font-variation-settings: 'wght' 700;
}

.card__contain {
	position: relative;
	display: flex;
	border: 1px solid black;
}

.image__label {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 2;
	opacity: 0.6;
	text-align: end;
	font-family: var(--accent-font);
	font-size: 14px;
	-webkit-text-stroke: 1px white;
	 mix-blend-mode: hard-light;
}

.card__image {
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.img1 {
	filter: sepia(1);
}

.img2 {
	filter: saturate(40%);
}

.img3 {
	filter: blur(3px);
}

.img4 {
	filter: invert(1);
}

.img5 {
	filter: grayscale(1);
}

.img6 {
	filter: hue-rotate(270deg);
}

.img7 {
	filter:  brightness(65%) contrast(185%) hue-rotate(90deg);
}

.img8 {
	filter: brightness(5) contrast(5);
}

.card__content {
	border: 2px solid black;
	padding: 25px 25px 20px;
}

.card__text {
	font-size: var(--text-size);
}

.card__text:not(:last-of-type) {
	margin-block-end: 27px;
}

.card__footer {
	margin-top: 22px;
	display: flex;
	justify-content: end;
	gap: 4px;
}

.card__icon-button {
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: border-color 0.4s ease;
	border-style: none;
}

.card__icon-button:focus-visible {
	border-color: var(--accent-color);
}

.card__icon-button:focus {
	outline: none;
}

.like-icon .contour {
	fill: var(--contour-color);
	transition: fill 0.3s;
	transition-delay: 0.1s;
}

.like-icon .core {
	fill: transparent;
	transition: fill 0.3s;
	transition-delay: 0.03s;
}

.like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s;
	transition-delay: 0s;
}

.like-icon .sparks {
	fill: var(--sparks-color);
	opacity: 0;
}

.like-icon:hover .core {
	fill: var(--contour-color);
	transition-delay: 0s;
}

.like-icon:hover .main-body {
	fill: var(--contour-color);
	transition-delay: 0.05s;
}

.like-icon:active .core {
	fill: var(--sparks-color);
	transition-delay: 0s;
}

.like-icon:active .main-body {
	fill: var(--sparks-color);
	transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
	animation: scale 0.3s 0.1s ease-in;
	transform-origin: center;
}

.like-icon.is-liked .sparks {
	animation: sparks 0.4s 0.3s ease-in;
}

.like-icon.is-liked .core {
	transition-delay: 0s;
	fill: var(--sparks-color);
}

.like-icon.is-liked .contour {
	fill: var(--sparks-color);
	transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
	transition-delay: 0.05s;
}

.card__like-button {
	padding: 11px 35px;
	font-size: 14px;
	font-family: var(--accent-font);
}

.button {
	background-color: var(--bg-color);
	border: 2px solid black;
	outline: none;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 2;
	transition: box-shadow 0.3s ease;
}

.button span {
	color: white;
	mix-blend-mode: difference;
}

.button svg {
	color: white;
	mix-blend-mode: difference;
}

.button::before {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	background-color: var(--accent-color);
	translate: -100%;
	transition: translate 0.5s ease-in-out;
}

.button:focus {
	box-shadow: 2px 2px var(--accent-color);
	transition: 0.3s ease;
}

.button:hover::before {
	translate: 0;
}

.main__save-button {
	display: flex;
	align-items: center;
	gap: 7px;
	font-family: var(--accent-font);
	margin: 50px auto 100px;
	padding: 15px 20px;
	font-size: 14px;
}

.main__save-button svg {
	height: 21px;
	width: 21px;
}


.dialog {
	background-color: var(--bg-color);
	color: var(--accent-color);
	padding: 30px;
	inline-size: 357px;
	border: 2px solid black;
}

.dialog::backdrop {
	background-color: var(--backdrop-color);
}

.dialog__content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.dialog__icon {
	width: 39px;
	height: 39px;
}

.dialog__text {
	text-transform: uppercase;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 1.5;
}

.dialog__ok-button {
	width: 100%;
	padding-block: 10.5px;
	margin-block-start: 30px
}

.dialog__ok-text {
	font-size: 14px;
	line-height: 0.9;
	font-family: var(--accent-font);
}

@media (width <= 375px) {
	.main__save-button {
		flex-direction: column;
		width: 28px;
		height: 28px;
	}
	.element {
	max-width: 100%;
	width: 100%;
	}
}

@supports (text-stroke: 1px var(--bg-color)) or
	(-webkit-text-stroke: 1px var(--bg-color)) {
	.image-label {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--bg-color);
		text-stroke: 1px var(--bg-color);
	}
}
